[project]
	description = GoSPEL - Go System and Platform EmuLation
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Prem Mallappa (pmallappa)
[access "refs/for/refs/*"]
	read = group user/Prem Mallappa (pmallappa)
	push = group user/Prem Mallappa (pmallappa)
	label-Code-Review = -2..+2 group user/Prem Mallappa (pmallappa)
	label-Verified = -1..+1 group user/Prem Mallappa (pmallappa)
	rebase = group user/Prem Mallappa (pmallappa)
	removeReviewer = group user/Prem Mallappa (pmallappa)
	submit = group user/Prem Mallappa (pmallappa)
[access "refs/heads/*"]
	read = group user/Prem Mallappa (pmallappa)
	create = group user/Prem Mallappa (pmallappa)
	push = +force group user/Prem Mallappa (pmallappa)
	pushMerge = group user/Prem Mallappa (pmallappa)
[access "refs/tags/*"]
	push = +force group user/Prem Mallappa (pmallappa)
	pushTag = group user/Prem Mallappa (pmallappa)
	pushSignedTag = group user/Prem Mallappa (pmallappa)
